[Unit]
Description=Conditionally make and mount filesystem for /place

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/cow/cond-mkfs.sh start
ExecStop=/usr/lib/cow/cond-mkfs.sh stop

[Install]
WantedBy=local-fs.target
