[Unit]
Description=Conditionally make and mount filesystem for /place

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/cond-mkfs.sh start
ExecStop=/etc/init.d/cond-mkfs.sh stop

[Install]
WantedBy=local-fs.target
